<div id="Ad" onload="crash()">

</div>

<script>
var Ad = [null,'','<h1>Your ad here!</h1> <a href="javascript:window.open(`https://forms.gle/M7smbyPhW3Ar6Kqr9`)">click here</a>','<img src="https://gitlab.com/27jhouse/oasis/-/raw/main/Not_Propaganda_-_Rhys_Flannery.png" width="300" onclick="window.open(`https://oyzqh.csb.app/`)"></img>','<img src="https://gitlab.com/27jhouse/oasis/-/raw/main/homieempire.gif" width="300"></img>'] 
for (i=0; i < Infinity; i++) {
alert("seriously, this can't happen.");
}



function generateRandomInteger(max) {
    return Math.floor(Math.random() * max) + 1;
}

var Show = generateRandomInteger(4);
document.getElementById('Ad').innerHTML = Ad[Show]

    </script>

    <style>
h1 {
    margin-left: 20px;
}
#Ad {
    width: 200;
    height: auto;
 
}
        </style>
