<div id="OGA">
<h2>OASIS game archive (online)</h2>
<p>*some games do not work this is a work in progress*</p>
              <embed   resize="both"type="text/html" src="https://reverent-minsky-760ff3.netlify.app/" id="OGA" width="100%" height="700">
</div>

