<!-- begin wwww.htmlcommentbox.com -->
 <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Form</a> is loading comments...</div>
 <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
 <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%241xDnKLhKj17Zz.k0PK0WR1"+"&opts=16798&num=10&ts=1636300524634");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); /*-->*/ </script>
<!-- end www.htmlcommentbox.com -->

<style>
    body {
 background-color: #4F4F4F;
    }
 
     #HCB_comment_box #hcb_form_content,
  #HCB_comment_box #hcb_form_email,
  #HCB_comment_box #hcb_form_name,
  #HCB_comment_box #hcb_form_website,
  #HCB_comment_box #hcb_submit,
  #HCB_comment_box .author-name,
  #HCB_comment_box .hcb-comment-body,
  #HCB_comment_box .hcb-comment-tb a,
     #HCB_comment_box #hcb_form_content,
  #HCB_comment_box #hcb_form_email,
  #HCB_comment_box #hcb_form_name,
  #HCB_comment_box #hcb_form_website {
   
      font-family: monospace;
  animation: colorRotate 6s linear 0s infinite;
  }
   #HCB_comment_box blockquote {  
  font-family: monospace;

  animation: colorRotate 6s linear 0s infinite;
  }

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
   .hcb-mod b{color: red; }
    </style>
