<button class="app" onclick=' window.open( "https://drive.google.com/drive/folders/1Hj6-3w1Ujr9ZiCtydOrhkABmnFOBNGfD?usp=sharing","_blank","toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500");'>HTMLgames</button>
<button class="app" onclick=' window.open( "https://www.mathplayground.com/drift-boss-v2/index.html","_blank","toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500");'>Drift boss</button>
<button class="app" onclick=' window.open( "https://www.mathplayground.com/duck4/index.html","_blank","toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500");'>duck life 4</button>
<button class="app" onclick=' window.open( "https://sm64-web.netlify.app/","_blank","toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500");'>Super mario 64</button>
<style>
.app {
  min-height: 45px;
  min-width: 45px;
  margin: 10px;

  padding: 5px;
  border-radius: 100px;
}

    </style>
