<head>
     <link
      rel="icon"
href="https://gitlab.com/27jhouse/oasis/-/raw/main/download__1_.png"
    />
</head>
chat ID/URL<input type="text" id="ID"></input><button onclick="GO()">join</button><button onclick="NewRoom()">new room</button>
<br>

<!-- customize labels of htmlcommentbox.com -->

<!-- customize labels of htmlcommentbox.com -->
<script>
var CommentboxID = 'h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%241xDnKLhKj17Zz.k0PK0WR1"+"&opts=16798&num=10&ts=1637617029935"'



function NewRoom(newID) {

 ID = "room"+ getRan(1000,9999) 

 
    localStorage.clear()
    localStorage.setItem('ID',ID)
    localStorage.setItem('CHAT', CommentboxID)
  setTimeout(function(){
window.location.reload();
}, 1000);
}
function getRan(min,max){
    return Math.floor(Math.random()*(max-min+1)+min);
}

    var ID 
    if (localStorage.getItem('ID') !== null) {
        ID = localStorage.getItem('ID')
        document.getElementById('ID').value = ID
        
    }else {
        ID = ''
    }

   


    function GO() {
        ID = document.getElementById('ID').value
    hcb_user.PAGE=ID
    localStorage.clear()
    localStorage.setItem('ID',ID)
setTimeout(function(){
window.location.reload();
}, 1000);
    
    }
// This code goes ABOVE the main HTML Comment Box code!
// replace the text in the single quotes below to customize labels.
hcb_user = {
    //L10N
    comments_header : 'Latest Announcements',
    name_label : 'Name',
    content_label: 'Enter your announcement here',
    submit : 'Comment',
    logout_link : '<img title="log out" src="//www.htmlcommentbox.com/static/images/door_out.png" alt="[logout]" class="hcb-icon"/>',
    admin_link : '<img src="//www.htmlcommentbox.com/static/images/door_in.png" alt="[login]" class="hcb-icon"/>',
    no_comments_msg: 'Be the first to tell us what you think!',
    add:'Add your comment',
    again: 'Post another comment',
    rss:'<img src="//www.htmlcommentbox.com/static/images/feed.png" class="hcb-icon" alt="rss"/> ',
    said:'said:',
    prev_page:'<img src="//www.htmlcommentbox.com/static/images/arrow_left.png" class="hcb-icon" title="previous page" alt="[prev]"/>',
    next_page:'<img src="//www.htmlcommentbox.com/static/images/arrow_right.png" class="hcb-icon" title="next page" alt="[next]"/>',
    showing:'Showing',
    to:'to',
    website_label:'website (optional)',
    email_label:'email',
    anonymous:'Anonymous',
    mod_label:'(mod)',
    subscribe:'email me replies',
    are_you_sure:'Do you want to flag this comment as inappropriate?',
    
    reply:'<img src="//www.htmlcommentbox.com/static/images/reply.png"/> reply',
    flag:'<img src="//www.htmlcommentbox.com/static/images/flag.png"/> flag',
    like:'<img src="//www.htmlcommentbox.com/static/images/like.png"/> like',
    
    //dates
    days_ago:'days ago',
    hours_ago:'hours ago',
    minutes_ago:'minutes ago',
    within_the_last_minute:'within the last minute',

    msg_thankyou:'Thank you for commenting!',
    msg_approval:'(this comment is not published until approved)',
    msg_approval_required:'Thank you for commenting! Your comment will appear once approved by a moderator.',
    
    err_bad_html:'Your comment contained bad html.',
    err_bad_email:'Please enter a valid email address.',
    err_too_frequent:'You must wait a few seconds between posting comments.',
    err_comment_empty:'Your comment was not posted because it was empty!',
    err_denied:'Your comment was not accepted.',

    //SETTINGS
    MAX_CHARS: 2048,
    PAGE:'', // ID of the webpage to show comments for. defaults to the webpage the user is currently visiting.
    RELATIVE_DATES:true // show dates in the form "X hours ago." etc.
};
</script>
<!-- done customizing labels of htmlcommentbox.com -->
<!-- begin htmlcommentbox.com -->
 <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
<style>
div.hcb-shadow-tl{background:url(shadow-bg.png) top left}div.hcb-shadow-tr{background:url(shadow-bg.png) top right}div.hcb-shadow-bl{background:url(shadow-bg.png) bottom left}div.hcb-shadow-br{background:url(shadow-bg.png) bottom right}div.hcb-shadow-t{background:url(shadow-bg-t.png) repeat-x}div.hcb-shadow-b{margin-bottom:5px;background:url(shadow-bg-t.png) repeat-x bottom}div.hcb-shadow-m{clear:both;background:url(shadow-bg-r.png) repeat-y right;padding-right:7px}.hcb-shadow-r{display:block;background:url(shadow-bg-l.png) repeat-y left}div.hcb-shadow-t,div.hcb-shadow-tr,div.hcb-shadow-b,div.hcb-shadow-br,div.hcb-shadow-tl,div.hcb-shadow-bl{background-color:#fff;height:7px}div.hcb-shadow-tr,div.hcb-shadow-br,div.hcb-shadow-tl,div.hcb-shadow-bl{width:7px}div.hcb-shadow-tr,div.hcb-shadow-br{float:right}div.hcb-shadow-tl,div.hcb-shadow-bl{float:left}br.hcb-shadow-clear{clear:both;display:block}#HCB_comment_box *{margin:0;padding:0;border-width:0;outline:0}#HCB_comment_box textarea.commentbox{width:100%;display:block;border:0 transparent}#HCB_comment_box textarea,#HCB_comment_box input.text,#HCB_comment_box input.submit{background-color:transparent;border:0 transparent;padding-left:5px}#HCB_comment_box .hcb-wrapper-half{width:50%;float:left}#HCB_comment_box .hcb-wrapper{clear:left}#HCB_comment_box input.text{width:100%}#HCB_comment_box input.submit{width:84px;font-weight:700;cursor:pointer;background:url(submit.png) no-repeat;color:transparent;height:25px}#HCB_comment_box span.home-desc{font-size:10px;opacity:.4}#HCB_comment_box blockquote{margin:0!important;padding:20px;background:url(speech-bubble.png) no-repeat}#HCB_comment_box div.comment{margin-bottom:5px;border-bottom:1px solid #eee}.hcb-mod b{
  animation: colorRotate 6s linear 0s infinite;
}

.rainbow {
  animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
  </style>
 <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} hcb_user.PAGE=ID;(function(){var s=document.createElement("script"), l=(hcb_user.PAGE || ""+window.location), h="//www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%241xDnKLhKj17Zz.k0PK0WR1"+"&opts=16798&num=10&ts=1637617029935");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})(); hcb_user.submit="";/*-->*/ </script>
<!-- end htmlcommentbox.com -->








<div id="console">


<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>OASIS chatrooms</title>

<script type="text/javascript">
var console = false
document.addEventListener("keyup", function(event) {
    if (event.key === '~') {
     if (console === true) {
       console = false
      document.getElementById('console').style.display = "none"
     }else {
       console = true
       document.getElementById('console').style.display = "block"
     }
    }
});


function HideAds() {
  document.getElementById('Ads').style.display = "none"
  document.getElementById('Ads2').style.display = "none"
}
function ShowAds() {
  document.getElementById('Ads').style.display = "block"
  document.getElementById('Ads2').style.display = "block"
}


function OpenChatRoom() {
  window.open(
          URL+"chatrooms.html",
          "_blank",
          "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500"
        );
}

function SetTheme(theme) {
if (theme == 1) {
  var fileref=document.createElement("link")
        fileref.setAttribute("rel", "stylesheet")
        fileref.setAttribute("type", "text/css")
        fileref.setAttribute("href", 'Theme1.css')
}
}



function SetRainbow(id) {
  document.getElementById(id).style.class += 'rainbow'
}

function Help() {
  window.open(
          "ConsoleCMDS.txt",
          "_blank",
          "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500"
        );
}


function WhatsNew() {
  var myWindow = window.open("", "MsgWindow", "width=1000,height=500");
myWindow.document.write(`<iframe src="https://drive.google.com/embeddedfolderview?id=1OwRJ-NXSjNdz32XhNQX0fB2Sad4uJWHI#list" width="100%" height="100%" frameborder="0"></iframe>`);
}


function browser() {
     window.open(
          "https://g1kk4.csb.app",
          "_blank",
          "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=1000,height=500"
        );
}

function frame(url)
 {
     (function() {
  // container
  var container = document.createElement("div");
  container.id = "link-viewer";

  container.style.all = "unset";

  container.style.backgroundColor = "#FFF";
  container.style.width = "400px";
  container.style.border = "solid 1px #AAA";
  container.style.borderRadius = "2px";
  container.style.position = "fixed";
  container.style.top = "100px";
  container.style.left = "100px";
  container.style.zIndex = "9999999999999999999";

  // iFrame
  var iFrame = document.createElement("iframe");
  iFrame.id = "link-viewer-iframe";

  iFrame.style.all = "unset";

  iFrame.style.margin = "0px";
  iFrame.style.width = container.style.width;
  iFrame.height = iFrame.style.height = "200px";
  iFrame.style.border = "none";
  iFrame.src = "data:text/html, <h1 style='margin: 40px 0px 20px 0px; text-align: center; font-family: sans-serif;'>Enter a link to get started!</h1>";

  iFrame.style.resize = "both";
  iFrame.style.overflow = "hidden";

  // content holder
  var contentHolder = document.createElement("div");
  contentHolder.id = "link-viewer-content-holder";

  contentHolder.style.all = "unset";

  contentHolder.style.width = "400px";
  contentHolder.style.height = iFrame.height;
  contentHolder.style.padding = "0px";
  contentHolder.style.margin = "0px";

  contentHolder.append(iFrame);
  container.append(contentHolder);

  // header
  var header = document.createElement("div");
  header.id = "link-viewer-header";

  header.style.all = "unset";

  header.style.display = "flex";
  header.style.justifyContent = "space-between";
  header.style.alignItems = "center";
  header.style.userSelect = "none";
  header.style.padding = "3px";
  header.style.margin = "0px";
  header.style.borderBottom = "solid 1px #AAA";

  header.style.height = "20px";
  header.style.width = Number(contentHolder.style.width.slice(0, -2) - 6) + "px";

  var dragged = false;
  var startX = 0;
  var startY = 0;
  header.addEventListener("mousedown", function(event) {
    startX = Number(container.style.left.slice(0, -2)) - event.clientX;
    startY = Number(container.style.top.slice(0, -2)) - event.clientY;
    dragged = true;
  });
  header.addEventListener("mouseup", function(event) {
    dragged = false;
  });

  // Also keeping track of size too
  window.addEventListener("mousemove", function(event) {
    if (dragged) {
      container.style.top = (event.clientY + startY) + "px";
      container.style.left = (event.clientX + startX) + "px";
    }
    var x = Number(container.style.left.slice(0, -2));
    var y = Number(container.style.top.slice(0, -2));
    if (x < 0) {
      container.style.left = "0px";
    }
    if (y < 0) {
      container.style.top = "0px";
    }

    contentHolder.style.height = iFrame.style.height;
    contentHolder.style.width = iFrame.style.width;

    header.style.width = (Number(contentHolder.style.width.slice(0, -2)) - 6) + "px";

    container.style.width = contentHolder.style.width;
    container.style.height = (Number(contentHolder.style.height.slice(0, -2)) + 27) + "px";

    if(Number(header.style.width.slice(0, -2)) < 300){
    contentHolder.style.width = "300px";
    header.style.width = "294px";
    container.style.width = "300px";
    iFrame.style.width = "300px";
    }
  });

  // text stuff
  var headerTextHolder = document.createElement("div");

  headerTextHolder.style.all = "unset";

  // header text
  var headerText = document.createElement("h1");
  headerText.textContent = "Link Viewer";

  headerText.style.all = "unset";

  headerText.style.fontFamily = "sans-serif";
  headerText.style.color = "#444";
  headerText.style.fontSize = "20px";
  headerText.style.margin = "0px";
  headerText.style.padding = "0px";

  headerTextHolder.append(headerText);
  header.append(headerTextHolder);

  // button stuff 
  var headerButtonHolder = document.createElement("div");

  headerButtonHolder.style.all = "unset";

  // link button
  var lButton = document.createElement("button");
  lButton.textContent = "run url";

  lButton.style.all = "unset";

  lButton.style.fontFamily = "sans-serif";
  lButton.style.width = "100px";
  lButton.style.height = "20px";
  lButton.style.cursor = "pointer";
  lButton.style.margin = "0px 3px 0px 3px";
  lButton.style.color = "#333";
  lButton.style.border = "solid 1px #333";
  lButton.style.borderRadius = "2px";
  lButton.style.backgroundColor = "#EEE";
  lButton.style.textAlign = "center";

  lButton.addEventListener("mouseover", function(event) {
    lButton.style.backgroundColor = "#DDD";
  });
  lButton.addEventListener("mouseleave", function(event) {
    lButton.style.backgroundColor = "#EEE";
  });
  lButton.addEventListener("click", function(event) {
   

    iFrame.src = url;
  });

  headerButtonHolder.append(lButton);

  // minimize button
  var mButton = document.createElement("button");
  mButton.textContent = "-";

  mButton.style.all = "unset";

  mButton.style.fontFamily = "sans-serif";
  mButton.style.width = "20px";
  mButton.style.height = "20px";
  mButton.style.cursor = "pointer";
  mButton.style.margin = "0px 3px 0px 3px";
  mButton.style.color = "#333";
  mButton.style.border = "solid 1px #333";
  mButton.style.borderRadius = "2px";
  mButton.style.backgroundColor = "#EEE";
  mButton.style.textAlign = "center";

  mButton.addEventListener("mouseover", function(event) {
    mButton.style.backgroundColor = "#DDD";
  });
  mButton.addEventListener("mouseleave", function(event) {
    mButton.style.backgroundColor = "#EEE";
  });
  mButton.addEventListener("click", function(event) {
    var closed = contentHolder.style.display === "none";
    if (closed) {
      contentHolder.style.display = "block";
      header.style.borderBottom = "solid 1px #AAA";
    } else {
      contentHolder.style.display = "none";
      header.style.borderBottom = "none";
    }
  });

  headerButtonHolder.append(mButton);

  // x button
  var xButton = document.createElement("button");
  xButton.textContent = "x";

  xButton.style.all = "unset";

  xButton.style.fontFamily = "sans-serif";
  xButton.style.width = "20px";
  xButton.style.height = "20px";
  xButton.style.cursor = "pointer";
  xButton.style.margin = "0px 3px 0px 3px";
  xButton.style.color = "#333";
  xButton.style.border = "solid 1px #333";
  xButton.style.borderRadius = "2px";
  xButton.style.backgroundColor = "#F33";
  xButton.style.textAlign = "center";

  xButton.addEventListener("mouseover", function(event) {
    xButton.style.backgroundColor = "#E22";
  });
  xButton.addEventListener("mouseleave", function(event) {
    xButton.style.backgroundColor = "#F33";
  });
  xButton.addEventListener("click", function(event) {
    container.remove();
  });

  headerButtonHolder.append(xButton);
  header.append(headerButtonHolder);

  contentHolder.before(header);

  // add to body
  document.body = document.body || document.createElement("body");
  document.body.append(container);
})();
 }
var
histList = [""],
histPos = 0,
_scope = {},
_win, // a top-level context
question,
_in,
_out,
tooManyMatches = null,
lastError = null;

function refocus()
{
  _in.blur(); // Needed for Mozilla to scroll correctly.
 // _in.focus();
}

function init()
{
  _in = document.getElementById("input");
  _out = document.getElementById("output");

  _win = window;

  if (opener && !opener.closed)
  {
    println("Using bookmarklet version of shell: commands will run in opener's context.", "message");
    _win = opener;
  }

  initTarget();

  recalculateInputHeight();
 // refocus();
}

function initTarget()
{
  _win.Shell = window;
  _win.print = shellCommands.print;
}


// Unless the user is selected something, refocus the textbox.
// (requested by caillon, brendan, asa)
function keepFocusInTextbox(e)
{
  var g = e.srcElement ? e.srcElement : e.target; // IE vs. standard

  while (!g.tagName)
    g = g.parentNode;
  var t = g.tagName.toUpperCase();
  if (t=="A" || t=="INPUT")
    return;

  if (window.getSelection) {
    // Mozilla
    if (String(window.getSelection()))
      return;
  }
  else if (document.getSelection) {
    // Opera? Netscape 4?
    if (document.getSelection())
      return;
  }
  else {
    // IE
    if ( document.selection.createRange().text )
      return;
  }

 // refocus();
}

function inputKeydown(e) {
  // Use onkeydown because IE doesn't support onkeypress for arrow keys

  //alert(e.keyCode + " ^ " + e.keycode);

  if (e.shiftKey && e.keyCode == 13) { // shift-enter
    // don't do anything; allow the shift-enter to insert a line break as normal
  } else if (e.keyCode == 13) { // enter
    // execute the input on enter
    try { go(); } catch(er) { alert(er); };
    setTimeout(function() { _in.value = ""; }, 0); // can't preventDefault on input, so clear it later
  } else if (e.keyCode == 38) { // up
    // go up in history if at top or ctrl-up
    if (e.ctrlKey || caretInFirstLine(_in))
      hist(true);
  } else if (e.keyCode == 40) { // down
    // go down in history if at end or ctrl-down
    if (e.ctrlKey || caretInLastLine(_in))
      hist(false);
  } else if (e.keyCode == 9) { // tab
    tabcomplete();
    setTimeout(function() { refocus(); }, 0); // refocus because tab was hit
  } else { }

  setTimeout(recalculateInputHeight, 0);

  //return true;
};

function caretInFirstLine(textbox)
{
  // IE doesn't support selectionStart/selectionEnd
  if (textbox.selectionStart == undefined)
    return true;

  var firstLineBreak = textbox.value.indexOf("\n");

  return ((firstLineBreak == -1) || (textbox.selectionStart <= firstLineBreak));
}

function caretInLastLine(textbox)
{
  // IE doesn't support selectionStart/selectionEnd
  if (textbox.selectionEnd == undefined)
    return true;

  var lastLineBreak = textbox.value.lastIndexOf("\n");

  return (textbox.selectionEnd > lastLineBreak);
}

function recalculateInputHeight()
{
  var rows = _in.value.split(/\n/).length
    + 1 // prevent scrollbar flickering in Mozilla
    + (window.opera ? 1 : 0); // leave room for scrollbar in Opera

  if (_in.rows != rows) // without this check, it is impossible to select text in Opera 7.60 or Opera 8.0.
    _in.rows = rows;
}

function println(s, type)
{
  if((s=String(s)))
  {
    var newdiv = document.createElement("div");
    newdiv.appendChild(document.createTextNode(s));
    newdiv.className = type;
    _out.appendChild(newdiv);
    return newdiv;
  }
}

function printWithRunin(h, s, type)
{
  var div = println(s, type);
  var head = document.createElement("strong");
  head.appendChild(document.createTextNode(h + ": "));
  div.insertBefore(head, div.firstChild);
}


var shellCommands =
{
load : function load(url)
{
  var s = _win.document.createElement("script");
  s.type = "text/javascript";
  s.src = url;
  _win.document.getElementsByTagName("head")[0].appendChild(s);
  println("Loading " + url + "...", "message");
},

clear : function clear()
{
  var CHILDREN_TO_PRESERVE = 3;
  while (_out.childNodes[CHILDREN_TO_PRESERVE])
    _out.removeChild(_out.childNodes[CHILDREN_TO_PRESERVE]);
},

print : function print(s) { println(s, "print"); },

// the normal function, "print", shouldn't return a value
// (suggested by brendan; later noticed it was a problem when showing others)
pr : function pr(s)
{
  shellCommands.print(s); // need to specify shellCommands so it doesn't try window.print()!
  return s;
},

props : function props(e, onePerLine)
{
  if (e === null) {
    println("props called with null argument", "error");
    return;
  }

  if (e === undefined) {
    println("props called with undefined argument", "error");
    return;
  }

  var ns = ["Methods", "Fields", "Unreachables"];
  var as = [[], [], []]; // array of (empty) arrays of arrays!
  var p, j, i; // loop variables, several used multiple times

  var protoLevels = 0;

  for (p = e; p; p = p.__proto__)
  {
    for (i=0; i<ns.length; ++i)
      as[i][protoLevels] = [];
    ++protoLevels;
  }

  for(var a in e)
  {
    // Shortcoming: doesn't check that VALUES are the same in object and prototype.

    var protoLevel = -1;
    try
    {
      for (p = e; p && (a in p); p = p.__proto__)
        ++protoLevel;
    }
    catch(er) { protoLevel = 0; } // "in" operator throws when param to props() is a string

    var type = 1;
    try
    {
      if ((typeof e[a]) == "function")
        type = 0;
    }
    catch (er) { type = 2; }

    as[type][protoLevel].push(a);
  }

  function times(s, n) { return n ? s + times(s, n-1) : ""; }

  for (j=0; j<protoLevels; ++j)
    for (i=0;i<ns.length;++i)
      if (as[i][j].length)
        printWithRunin(
          ns[i] + times(" of prototype", j),
          (onePerLine ? "\n\n" : "") + as[i][j].sort().join(onePerLine ? "\n" : ", ") + (onePerLine ? "\n\n" : ""),
          "propList"
        );
},

blink : function blink(node)
{
  if (!node)                     throw("blink: argument is null or undefined.");
  if (node.nodeType == null)     throw("blink: argument must be a node.");
  if (node.nodeType == 3)        throw("blink: argument must not be a text node");
  if (node.documentElement)      throw("blink: argument must not be the document object");

  function setOutline(o) {
    return function() {
      if (node.style.outline != node.style.bogusProperty) {
        // browser supports outline (Firefox 1.1 and newer, CSS3, Opera 8).
        node.style.outline = o;
      }
      else if (node.style.MozOutline != node.style.bogusProperty) {
        // browser supports MozOutline (Firefox 1.0.x and older)
        node.style.MozOutline = o;
      }
      else {
        // browser only supports border (IE). border is a fallback because it moves things around.
        node.style.border = o;
      }
    }
  }

  function focusIt(a) {
    return function() {
      a.focus();
    }
  }

  if (node.ownerDocument) {
    var windowToFocusNow = (node.ownerDocument.defaultView || node.ownerDocument.parentWindow); // Moz vs. IE
    if (windowToFocusNow)
      setTimeout(focusIt(windowToFocusNow.top), 0);
  }

  for(var i=1;i<7;++i)
    setTimeout(setOutline((i%2)?'3px solid red':'none'), i*100);

  setTimeout(focusIt(window), 800);
  setTimeout(focusIt(_in), 810);
},

scope : function scope(sc)
{
  if (!sc) sc = {};
  _scope = sc;
  println("Scope is now " + sc + ".  If a variable is not found in this scope, window will also be searched.  New variables will still go on window.", "message");
},

mathHelp : function mathHelp()
{
  printWithRunin("Math constants", "E, LN2, LN10, LOG2E, LOG10E, PI, SQRT1_2, SQRT2", "propList");
  printWithRunin("Math methods", "abs, acos, asin, atan, atan2, ceil, cos, exp, floor, log, max, min, pow, random, round, sin, sqrt, tan", "propList");
},

ans : undefined
};


function hist(up)
{
  // histList[0] = first command entered, [1] = second, etc.
  // type something, press up --> thing typed is now in "limbo"
  // (last item in histList) and should be reachable by pressing
  // down again.

  var L = histList.length;

  if (L == 1)
    return;

  if (up)
  {
    if (histPos == L-1)
    {
      // Save this entry in case the user hits the down key.
      histList[histPos] = _in.value;
    }

    if (histPos > 0)
    {
      histPos--;
      // Use a timeout to prevent up from moving cursor within new text
      // Set to nothing first for the same reason
      setTimeout(
        function() {
          _in.value = '';
          _in.value = histList[histPos];
          var caretPos = _in.value.length;
          if (_in.setSelectionRange)
            _in.setSelectionRange(caretPos, caretPos);
        },
        0
      );
    }
  }
  else // down
  {
    if (histPos < L-1)
    {
      histPos++;
      _in.value = histList[histPos];
    }
    else if (histPos == L-1)
    {
      // Already on the current entry: clear but save
      if (_in.value)
      {
        histList[histPos] = _in.value;
        ++histPos;
        _in.value = "";
      }
    }
  }
}

function tabcomplete()
{
  /*
   * Working backwards from s[from], find the spot
   * where this expression starts.  It will scan
   * until it hits a mismatched ( or a space,
   * but it skips over quoted strings.
   * If stopAtDot is true, stop at a '.'
   */
  function findbeginning(s, from, stopAtDot)
  {
    /*
     *  Complicated function.
     *
     *  Return true if s[i] == q BUT ONLY IF
     *  s[i-1] is not a backslash.
     */
    function equalButNotEscaped(s,i,q)
    {
      if(s.charAt(i) != q) // not equal go no further
        return false;

      if(i==0) // beginning of string
        return true;

      if(s.charAt(i-1) == '\\') // escaped?
        return false;

      return true;
    }

    var nparens = 0;
    var i;
    for(i=from; i>=0; i--)
    {
      if(s.charAt(i) == ' ')
        break;

      if(stopAtDot && s.charAt(i) == '.')
        break;

      if(s.charAt(i) == ')')
        nparens++;
      else if(s.charAt(i) == '(')
        nparens--;

      if(nparens < 0)
        break;

      // skip quoted strings
      if(s.charAt(i) == '\'' || s.charAt(i) == '\"')
      {
        //dump("skipping quoted chars: ");
        var quot = s.charAt(i);
        i--;
        while(i >= 0 && !equalButNotEscaped(s,i,quot)) {
          //dump(s.charAt(i));
          i--;
        }
        //dump("\n");
      }
    }
    return i;
  }

  // XXX should be used more consistently (instead of using selectionStart/selectionEnd throughout code)
  // XXX doesn't work in IE, even though it contains IE-specific code
  function getcaretpos(inp)
  {
    if(inp.selectionEnd != null)
      return inp.selectionEnd;

    if(inp.createTextRange)
    {
      var docrange = _win.Shell.document.selection.createRange();
      var inprange = inp.createTextRange();
      if (inprange.setEndPoint)
      {
        inprange.setEndPoint('EndToStart', docrange);
        return inprange.text.length;
      }
    }

    return inp.value.length; // sucks, punt
  }

  function setselectionto(inp,pos)
  {
    if(inp.selectionStart) {
      inp.selectionStart = inp.selectionEnd = pos;
    }
    else if(inp.createTextRange) {
      var docrange = _win.Shell.document.selection.createRange();
      var inprange = inp.createTextRange();
      inprange.move('character',pos);
      inprange.select();
    }
    else { // err...
    /*
      inp.select();
      if(_win.Shell.document.getSelection())
        _win.Shell.document.getSelection() = "";
        */
    }
  }
    // get position of cursor within the input box
    var caret = getcaretpos(_in);

    if(caret) {
      //dump("----\n");
      var dotpos, spacepos, complete, obj;
      //dump("caret pos: " + caret + "\n");
      // see if there's a dot before here
      dotpos = findbeginning(_in.value, caret-1, true);
      //dump("dot pos: " + dotpos + "\n");
      if(dotpos == -1 || _in.value.charAt(dotpos) != '.') {
        dotpos = caret;
//dump("changed dot pos: " + dotpos + "\n");
      }

      // look backwards for a non-variable-name character
      spacepos = findbeginning(_in.value, dotpos-1, false);
      //dump("space pos: " + spacepos + "\n");
      // get the object we're trying to complete on
      if(spacepos == dotpos || spacepos+1 == dotpos || dotpos == caret)
      {
        // try completing function args
        if(_in.value.charAt(dotpos) == '(' ||
 (_in.value.charAt(spacepos) == '(' && (spacepos+1) == dotpos))
        {
          var fn,fname;
  var from = (_in.value.charAt(dotpos) == '(') ? dotpos : spacepos;
          spacepos = findbeginning(_in.value, from-1, false);

          fname = _in.value.substr(spacepos+1,from-(spacepos+1));
  //dump("fname: " + fname + "\n");
          try {
            with(_win.Shell._scope)
              with(_win)
                with(Shell.shellCommands)
                  fn = eval(fname);
          }
          catch(er) {
            //dump('fn is not a valid object\n');
            return;
          }
          if(fn == undefined) {
             //dump('fn is undefined');
             return;
          }
          if(fn instanceof Function)
          {
            // Print function definition, including argument names, but not function body
            if(!fn.toString().match(/function .+?\(\) +\{\n +\[native code\]\n\}/))
              println(fn.toString().match(/function .+?\(.*?\)/), "tabcomplete");
          }

          return;
        }
        else
          obj = _win;
      }
      else
      {
        var objname = _in.value.substr(spacepos+1,dotpos-(spacepos+1));
        //dump("objname: |" + objname + "|\n");
        try {
          with(_win.Shell._scope)
            with(_win)
                obj = eval(objname);
        }
        catch(er) {
          printError(er);
          return;
        }
        if(obj == undefined) {
          // sometimes this is tabcomplete's fault, so don't print it :(
          // e.g. completing from "print(document.getElements"
          // println("Can't complete from null or undefined expression " + objname, "error");
          return;
        }
      }
      //dump("obj: " + obj + "\n");
      // get the thing we're trying to complete
      if(dotpos == caret)
      {
        if(spacepos+1 == dotpos || spacepos == dotpos)
        {
          // nothing to complete
          //dump("nothing to complete\n");
          return;
        }

        complete = _in.value.substr(spacepos+1,dotpos-(spacepos+1));
      }
      else {
        complete = _in.value.substr(dotpos+1,caret-(dotpos+1));
      }
      //dump("complete: " + complete + "\n");
      // ok, now look at all the props/methods of this obj
      // and find ones starting with 'complete'
      var matches = [];
      var bestmatch = null;
      for(var a in obj)
      {
        //a = a.toString();
        //XXX: making it lowercase could help some cases,
        // but screws up my general logic.
        if(a.substr(0,complete.length) == complete) {
          matches.push(a);
          ////dump("match: " + a + "\n");
          // if no best match, this is the best match
          if(bestmatch == null)
          {
            bestmatch = a;
          }
          else {
            // the best match is the longest common string
            function min(a,b){ return ((a<b)?a:b); }
            var i;
            for(i=0; i< min(bestmatch.length, a.length); i++)
            {
              if(bestmatch.charAt(i) != a.charAt(i))
                break;
            }
            bestmatch = bestmatch.substr(0,i);
            ////dump("bestmatch len: " + i + "\n");
          }
          ////dump("bestmatch: " + bestmatch + "\n");
        }
      }
      bestmatch = (bestmatch || "");
      ////dump("matches: " + matches + "\n");
      var objAndComplete = (objname || obj) + "." + bestmatch;
      //dump("matches.length: " + matches.length + ", tooManyMatches: " + tooManyMatches + ", objAndComplete: " + objAndComplete + "\n");
      if(matches.length > 1 && (tooManyMatches == objAndComplete || matches.length <= 10)) {

        printWithRunin("Matches: ", matches.join(', '), "tabcomplete");
        tooManyMatches = null;
      }
      else if(matches.length > 10)
      {
        println(matches.length + " matches.  Press tab again to see them all", "tabcomplete");
        tooManyMatches = objAndComplete;
      }
      else {
        tooManyMatches = null;
      }
      if(bestmatch != "")
      {
        var sstart;
        if(dotpos == caret) {
          sstart = spacepos+1;
        }
        else {
          sstart = dotpos+1;
        }
        _in.value = _in.value.substr(0, sstart)
                  + bestmatch
                  + _in.value.substr(caret);
        setselectionto(_in,caret + (bestmatch.length - complete.length));
      }
    }
}

function printQuestion(q)
{
  println(q, "input");
}

function printAnswer(a)
{
  if (a !== undefined) {
    println(a, "normalOutput");
    shellCommands.ans = a;
  }
}

function printError(er)
{
  var lineNumberString;

  lastError = er; // for debugging the shell
  if (er.name)
  {
    // lineNumberString should not be "", to avoid a very wacky bug in IE 6.
    lineNumberString = (er.lineNumber != undefined) ? (" on line " + er.lineNumber + ": ") : ": ";
    println(er.name + lineNumberString + er.message, "error"); // Because IE doesn't have error.toString.
  }
  else
    println(er, "error"); // Because security errors in Moz /only/ have toString.
}

function go(s)
{
  _in.value = question = s ? s : _in.value;

  if (question == "")
    return;

  histList[histList.length-1] = question;
  histList[histList.length] = "";
  histPos = histList.length - 1;

  // Unfortunately, this has to happen *before* the JavaScript is run, so that
  // print() output will go in the right place.
  _in.value='';
  recalculateInputHeight();
  printQuestion(question);

  if (_win.closed) {
    printError("Target window has been closed.");
    return;
  }

  try { ("Shell" in _win) }
  catch(er) {
    printError("The JavaScript Shell cannot access variables in the target window.  The most likely reason is that the target window now has a different page loaded and that page has a different hostname than the original page.");
    return;
  }

  if (!("Shell" in _win))
    initTarget(); // silent

  // Evaluate Shell.question using _win's eval (this is why eval isn't in the |with|, IIRC).
  _win.location.href = "javascript:try{ Shell.printAnswer(eval('with(Shell._scope) with(Shell.shellCommands) {' + Shell.question + String.fromCharCode(10) + '}')); } catch(er) { Shell.printError(er); }; setTimeout(Shell.refocus, 0); void 0";
}

</script>

<!-- for http://ted.mielczarek.org/code/mozilla/extensiondev/ -->
<script type="text/javascript" src="chrome://extensiondev/content/rdfhistory.js"></script>
<script type="text/javascript" src="chrome://extensiondev/content/chromeShellExtras.js"></script>

<style type="text/css">


#output { white-space: pre; white-space: -moz-pre-wrap; } /* Preserve line breaks, but wrap too if browser supports it */
h3 { margin-top: 0; margin-bottom: 0em; }
h3 + div { margin: 0; }

form { margin: 0; padding: 0; }
#input { width: 100%; border: none; padding: 0; overflow: auto; }

.input { color: green; background: black; font: inherit; font-weight: bold; margin-top: .5em; /* background: #E6E6FF; */ }
.normalOutput { color: black; background: black; }
.print { color: brown; background: black; }
.error { color: lime; background: black; }
.propList { color: green; background: black; }
.message { color: green; background: black; }
.tabcomplete { color: purple; background: black; }
</style>


<body onload="init()">

<div id="output"><h3>JavaScript Shell 1.4</h3><div>Features: autocompletion of property names with Tab, multiline input with Shift+Enter, input history with (Ctrl+) Up/Down,Help(), <a accesskey="M" href="javascript:go('scope(Math); mathHelp();');" title="Accesskey: M">Math</a>, <a accesskey="H" href="http://www.squarefree.com/shell/?ignoreReferrerFrom=shell1.4"  title="Accesskey: H">help</a></div><div>Values and functions: ans, print(string), <a accesskey="P" href="javascript:go('props(ans)')" title="Accesskey: P">props(object)</a>, <a accesskey="B" href="javascript:go('blink(ans)')" title="Accesskey: B">blink(node)</a>, <a accesskey="C" href="javascript:go('clear()')" title="Accesskey: C">clear()</a>, load(scriptURL), scope(object)</div></div>

<div><textarea id="input" class="input" wrap="off" onkeydown="inputKeydown(event)" rows="1"></textarea></div>

</div>



<script>
document.getElementById('console').style.display = "none"
</script>

<style>
#input {
 background-color: black;
  color: green;
}

#output {
  color: green;
  background-color: black;
}

  #console {
  position: absolute;
  top: 0;
  right: 50;
  z-index: 9999999999999;
  background-color: black;
  height: 350px;
  overflow: auto;
}
</style>

<style>
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
                                                
</style>


<script>
//set the font to ＭＳ Ｐゴシック for mozilla
document.getElementById('console').style.fontFamily = 'VT323'
//document.getElementById('console').style.fontSize = "25px"

//set the page font to ＭＳ Ｐゴシック for mozilla
//document.body.style.fontFamily = "ＭＳ Ｐゴシック";


</script>
