<a  class="download" href="javascript:">-<button onclick=`download('asteriods.html',"">\/</button></a>










    <style>

.download {
background-color: white;
}

.app {
  min-height: 45px;
  min-width: 45px;
  margin: 10px;

  padding: 5px;
  border-radius: 100px;
}

    </style>
    

<script>

function download(name, cont) {
  function downloadBlob(blob, name = 'file.txt') {
  // Convert your blob into a Blob URL (a special url that points to an object in the browser's memory)
  const blobUrl = URL.createObjectURL(blob);

  // Create a link element
  const link = document.createElement("a");

  // Set link's href to point to the Blob URL
  link.href = blobUrl;
  link.download = name;

  // Append link to the body
  document.body.appendChild(link);

  // Dispatch click event on the link
  // This is necessary as link.click() does not work on the latest firefox
  link.dispatchEvent(
    new MouseEvent('click', { 
      bubbles: true, 
      cancelable: true, 
      view: window 
    })
  );

  // Remove link from body
  document.body.removeChild(link);
}

// Usage
/*

let jsonBlob = new Blob(['<h1>test</h1>'])
downloadBlob(jsonBlob, 'myfile.html');*/

let jsonBlob = new Blob([cont])
downloadBlob(jsonBlob, name);
}




    </script>
